NorthwindWeb/Connected Services/NorthwindService/NorthwindService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderBetweendateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderBetweendateEntity" nillable="true" type="tns:OrderBetweendateEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderBetweendateEntity" nillable="true" type="tns:ArrayOfOrderBetweendateEntity" />
  <xs:complexType name="OrderBetweendateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSales" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBetweendateEntity" nillable="true" type="tns:OrderBetweendateEntity" />
  <xs:complexType name="ArrayOfUserınfoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserınfoEntity" nillable="true" type="tns:UserınfoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserınfoEntity" nillable="true" type="tns:ArrayOfUserınfoEntity" />
  <xs:complexType name="UserınfoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserınfoEntity" nillable="true" type="tns:UserınfoEntity" />
  <xs:complexType name="AddOrderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      <xs:element minOccurs="0" name="freight" type="xs:int" />
      <xs:element minOccurs="0" name="orderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="requiredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shipAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipPostalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipVia" type="xs:int" />
      <xs:element minOccurs="0" name="shippedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrderEntity" nillable="true" type="tns:AddOrderEntity" />
  <xs:complexType name="AddOrderDetailEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="discount" type="xs:int" />
      <xs:element minOccurs="0" name="orderId" type="xs:int" />
      <xs:element minOccurs="0" name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="unitPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrderDetailEntity" nillable="true" type="tns:AddOrderDetailEntity" />
</xs:schema>