NorthwindWeb/Connected Services/NorthwindService/NorthwindService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52662/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" />
  <xs:element name="getOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="getOrderInfoResult" nillable="true" type="q1:ArrayOfOrderBetweendateEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoginInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoginInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="getLoginInfoResult" nillable="true" type="q2:ArrayOfUser覺nfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserLoginInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserLoginInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertUserLoginInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="data" nillable="true" type="q3:AddOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="detail_data" nillable="true" type="q4:AddOrderDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="asdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="entity" nillable="true" type="q5:User覺nfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="ueResult" nillable="true" type="q6:User覺nfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsongetOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsongetOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="JsongetOrderInfoResult" nillable="true" type="q7:ArrayOfOrderBetweendateEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsongetLoginInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsongetLoginInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="JsongetLoginInfoResult" nillable="true" type="q8:ArrayOfUser覺nfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsoninsertUserLoginInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsoninsertUserLoginInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JsoninsertUserLoginInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonaddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="data" nillable="true" type="q9:AddOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonaddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JsonaddOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonaddOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NorthwindDAL.Entities" minOccurs="0" name="detail_data" nillable="true" type="q10:AddOrderDetailEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonaddOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JsonaddOrderDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Jsonasd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonasdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JsonasdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>